:root { 
--green_300:#89c06f; 
--gray_50_01:#f8f9fa; 
--gray_50_02:#fafcff; 
--gray_50_03:#f4f8ff; 
--black_900_b2:#000000b2; 
--gray_50_04:#fffcf3; 
--blue_A200:#4d90ff; 
--gray_300_99:#e4e4e499; 
--black_900_01:#090b0d; 
--yellow_800:#d4ac1c; 
--blue_gray_700:#424c5d; 
--blue_gray_900_01:#24363c; 
--blue_gray_900:#262b35; 
--gray_400:#c4c4c4; 
--blue_900:#003995; 
--blue_gray_100:#d6dae2; 
--orange_A200:#ef9e3b; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--red_A200:#fe555d; 
--amber_700:#da9e01; 
--black_900_0c:#0000000c; 
--blue_50:#e0ebff; 
--gray_400_01:#b3b3b3; 
--white_A700_67:#ffffff67; 
--blue_gray_400_01:#808191; 
--white_A700:#ffffff; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0a58ff; 
--blue_A700_01:#0061ff; 
--green_600:#349765; 
--gray_50:#f9fbff; 
--black_900:#000000; 
--yellow_900:#ed8c33; 
--blue_A700_7e:#0061ff7e; 
--gray_700_11:#55555511; 
--gray_900_02:#151522; 
--gray_900_03:#0d1624; 
--blue_gray_200:#bac1ce; 
--blue_gray_400:#74839d; 
--blue_800:#0051d5; 
--blue_gray_600:#5f6c86; 
--gray_900:#11142d; 
--gray_900_01:#0d062d; 
--blue_gray_300_87:#919eab87; 
--gray_300:#e0e0e0; 
--orange_300:#ffb543; 
--gray_100:#f4fbf7; 
--gray_800_2b:#4545452b; 
}